fastapi
uvicorn
supabase
python-dotenv
requests
hume
pinecone
deepgram-sdk==3.4.0
websocket-client
av
numpy
resampy
langchain_core
langchain_openai
persist-queue
tcvectordb
dicttoxml
silero-vad
soundfile